.HUD
{
    background-color: grey;
    height: 500px;
    width: 80%;
    display: flex;
    justify-content: center;
}
aside
{
    width: 30%;
    padding-right: 30px;
}
main
{
    width: 50%;
    height: 85%;
    display: flex;
    justify-content: center;
}