.HUD
{
    background-color: grey;
    height: 500px;
    width: 80%;
    display: flex;
    justify-content: center;
}
.left
{
    border: solid 1px black;
    position: relative;
    top: 30%;
    width: 25%;
    height: 50%;
    margin: 15px;
}
.right
{
    border: solid 1px black;
    width: 25%
}
main
{
    width: 50%;
    height: 85%;
    display: flex;
    justify-content: center;
}